@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto";
  }
  .no_scroll_bar::-webkit-scrollbar {
    width: 0;
  }
  .custom_no_scroll_bar {
    scrollbar-color: rgb(115, 115, 115) rgb(198, 198, 198);
  }
  .custom_no_scroll_bar::-webkit-scrollbar {
    width: 0;
  }
  .custom_no_scroll_bar::-webkit-scrollbar {
    width: 7px;
  }
  .custom_no_scroll_bar::-webkit-scrollbar-thumb {
    background-color: #264233;
    border-radius: 20px;
  }
  * {
    line-height: 100%;
  }
  .hover_svg_primary_700 svg {
    fill: #264233;
  }

  .remove_arrow_input::-webkit-outer-spin-button,
  .remove_arrow_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove_arrow_input[type="number"] {
    -moz-appearance: textfield;
  }
}
